<div class="login-form col-lg-3">
<div>
    <!-- signup form heading -->
    <h3 id="heading">
        Students Login
    </h3>
</div>
<br>
<div>
    <form #userlogin="ngForm"  >
    <!-- email -->
    <div >
        <input type="Email" class="form-control" #email="ngModel" id="email" name="email" [(ngModel)]="studentuser.email" pattern="^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+)[.]([a-z]{2,3})(.[a-z]{2,3})?$" placeholder="Email*" required />
        <span for="error" class="error-msg" *ngIf="email.touched && email.invalid" >Invalid Email</span>
    </div>
    <br>
     <!-- password -->
    <div>
        <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="studentuser.password"  placeholder="Password*" required />
        <span for="error" class="error-msg" *ngIf="password.touched && password.invalid">Invalid Password</span>
    </div>
     <br>
    <div>
        <button class="btn btn-primary login-btn" [disabled]="userlogin.form.invalid">Login</button>
    </div>
    <br>
    <span>New here? Please <a routerLink="/signupStudent">SignUp</a></span>
    </form>

</div>

</div>
