<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a><img src="https://www.tcs.com/content/dam/tcs/images/Newtcslogo/Logo-Blue1x.png" width="140px" height="80px"></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="scroll-to-section"><a routerLink="students" routerLinkActive="active">Students</a></li>
                        <li class="scroll-to-section"><a routerLink="professor" routerLinkActive="active">Professor</a> </li>
                        <li class="scroll-to-section"><a routerLink="addcourse" routerLinkActive="active">Add Course</a></li>
                        <li class="scroll-to-section"><a routerLink="courses" routerLinkActive="active">Courses</a></li>
                        <li class="scroll-to-section"><a routerLink="signupProfessor" routerLinkActive="active">signup</a></li>
                        <li class="scroll-to-section"><a routerLink="studentslist" routerLinkActive="active">Applied</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->