@import "~bootstrap/dist/css/bootstrap.min.css";


.navnw{
  border: 2px solid black;
  width: 99%;
  margin: 5px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px black;
  background-color: rgb(36, 34, 34);
}

.nav-link{
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
float: right;
justify-content: right;
font-size: 20px;
float: right;
color: white;
}
a:hover{
  background-color: wheat;
}
a:active {
  color: white;
}
.nav-link{
 margin-right: 10px;
}
.logout{
  color: red;
}

