
  <nav class="navbar navnw navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ul float-right ms-auto ">
        <li class="nav-item active ">
          <a class="nav-link" routerLink="" *ngIf="!auth.StudentloggedIn() && !auth.ProfessorloggedIn()">Home
                <span class="sr-only"></span>
              </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="students" *ngIf="!auth.StudentloggedIn() && !auth.ProfessorloggedIn()">Student</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="professor" *ngIf="!auth.StudentloggedIn() && !auth.ProfessorloggedIn()">Professor</a>
        </li>
        <li class="nav-item active">
          <a  class="nav-link" routerLink="studenthome"  *ngIf="auth.StudentloggedIn()">Profile</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link"  routerLink="professorhome"  *ngIf="auth.ProfessorloggedIn()">Profile</a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="addcourse" *ngIf="auth.ProfessorloggedIn()">Add Course</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="courses" *ngIf="auth.ProfessorloggedIn()||auth.StudentloggedIn() " >Courses</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="studentslist"  *ngIf="auth.ProfessorloggedIn()">Studentlist</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="acceptedstudents"  *ngIf="auth.ProfessorloggedIn()"> Accepted Students</a>
        </li>
      
        <li class="nav-item active logout float-right">
          <a class="nav-link text-danger" (click)="logout()" *ngIf="auth.ProfessorloggedIn()||auth.StudentloggedIn() ">Logout</a>
        </li>
      </ul>
    </div>
  </nav>